
{% extends "main_app/base.html" %} {% block content %}
<a
  href="{% url 'postlistview' %}"
  class="btn btn-primary"
  style="margin-left: 100px; margin-top: 50px"
>
  Back
</a>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mt-4">{{ post.title }}</h2>
      <small class="text-muted">Author: {{ post.author }}</small>
      <p class="mt-3">{{ post.content }}</p>
      <div class="mt-4">
        <p class="text-muted">
          Published: {{ post.published_date|date:"F d, Y H:i" }}
        </p>
        <p class="text-muted">
          Last Modified: {{ post.modified_date|date:"F d, Y H:i" }}
        </p>
      </div>
      {% if user.is_authenticated and user == post.author %}
      <div class="mt-4">
        <a href="{% url 'updatePostView' post.pk %}" class="btn btn-secondary"
          >Edit</a
        >
        <a href="{% url 'deletePostView' post.pk %}" class="btn btn-danger"
          >Delete</a
        >
      </div>
      {% endif %}
    </div>
  </div>
    {% for message in messages %}
        {{ message }}
    {% endfor %}

    <!-- Like, Comment Form -->
    <form method="post" action="{% url 'add_comment_like' post.id %}">
        {% csrf_token %}
        <button type="submit" name="like_button" value="like">Like</button>
        <textarea name="comment_text"></textarea>
        <button type="submit" name="comment_button" value="comment">Submit Comment</button>
    </form>
</div>
{% endblock %}

